<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>
<span class="d-block p-2 bg-dark">
    <div class="text-white">
        <a class="font-weight-bold" th:text="${users[0].getEmail()}"></a>
        <a>with roles:</a>
        <a th:each="roles :${users[0].getRoles()}">
            <a th:text="${roles.getRole()}"/>
        </a>
        <a class="float-right text-white-50" href="/logout">Logout</a>
    </div>
</span>


<table th:width="500" th:border="2">
    <p>
    <h2>Доступные пользователи</h2></p>
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>
    </tr>
    </thead>

    <tr th:each="user :${users}">
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getFirstName()}"/>
        <td th:text="${user.getLastName()}"/>
        <td th:text="${user.getAge()}"/>
        <td th:text="${user.getEmail()}"/>
        <td>
            <th:block th:each="role :${user.getRoles()}">
                <label th:text="${role.role}"/>
                <br>
            </th:block>
        </td>


        <td>
            <form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                <input type="submit" value="EDIT">
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="DELETE">
            </form>
        </td>
    </tr>
</table>
<br>

<form th:method="GET" th:action="@{/admin/new}">
    <input type="submit" value="Create new User">
</form>
</body>
</html>