<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User page</title>
</head>
<body>
<span class="d-block p-2 bg-dark">
    <div class="text-white">
        <a class="font-weight-bold" th:text="${user.getEmail()}"></a>
        <a>with roles:</a>
        <a th:each="roles :${user.getRoles()}">
            <a th:text="${roles.getRole()}"/>
        </a>
        <a class="float-right text-white-50" href="/logout">Logout</a>
    </div>
</span>
<table th:width="500" th:border="2">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tr >
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getFirstName()}"/>
        <td th:text="${user.getLastName()}"/>
        <td th:text="${user.getAge()}"/>
        <td th:text="${user.getEmail()}"/>
        <td>
            <th:block th:each="role : ${user.getRoles()}">
                <label th:text="${role.role}"/>
                <br>
            </th:block>
        </td>
    </tr>
</table>
</body>
</html>