<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login page</title>

</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-lg-5"></div>

            <form method="post" action="/login">

                <div class="col-lg">
                    <h6 class="h6 font-weight-bold">Please sign in</h6>
                    <input type="text" class="form-control" placeholder="Email address" name="username">
                </div>
                <div class="col-lg">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
                <div class="col-lg">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>

        </form>
    </div>
</div>
</div>
</div>
</body>
</html>